body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    margin-left: 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin: 20px 0 10px;
}

textarea {
    width: 30%;
    height: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button {
    background-color: #4caf50; /* Change to green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; 
}

#result {
    font-weight: bold;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

span.history-entry {
    font-style: italic;
    color: #888;
}
