<!-- templates/history.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator | History</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <a href="/">Go back to Main</a>
    <h1>History</h1>
    <ul>
        {% for entry in history %}
            <li>{{ entry.question }} = {{ entry.answer }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>