<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator App</title>
    <script src="/static/calculator.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Calculator App</h1>
  
    <label>Enter equation </label>
    <textarea id="eq" placeholder="Enter equation"></textarea>

    <br>

    <button onclick="calc()">Calculate Answer</button>

    <p>Result: <span id="res"></span></p>
    
<br>

 <button><a href="/history" style="color:azure; text-decoration:none ">View History</a></button> 

</body>
</html>